# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
v2/node_modules/
.pnp
.pnp.js

# Build output
dist
v2/dist/
dist-ssr
build
out
.nuxt
.next
.svelte-kit

# Environment variables
*.local
.env
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.local
.gemini/

# IDEs and Editors
.vscode/*
!.vscode/extensions.json
.idea
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db
ehthumbs.db

# Python
__pycache__/

# Deployment
.vercel
.output
.vercel/*
!.vercel/project.json

test.js

.vercel

.vercel
